.switch-i18n {
    label {
        color: rgb(243, 227, 227);
        font-weight: bold;
        margin-right: 10px;
    }
    margin-right: 20px;
    .ant-select {
        width: 90px;
    }
}
