@import "@/styles/variables.scss";
@mixin wh($width) { // scss的混入，可以将通用的部分进行封装然后复用
    width: $width;
    height:$width;
}
@mixin divHLH{
    /**设置div的height和inline-height一样，达到文字垂直居中*/
    height: $topHeight;
    line-height: $topHeight ;
}
.logo {
    position: relative;
    left: -10px;
    display: flex; /**是当前logo元素成为一个容器，拥有弹性布局，就有两根轴线，就可以任意摆布容器内部的item*/
    align-items: center; /**内容水平居中*/
    @include divHLH;
    img {
        @include wh(35px);
        position: relative;
    }
    span {
        margin-left: 15px;
        color: lightcyan;
        font-size: 24px;
        font-weight:bold;
    }
    &:hover {
        cursor: pointer;
    }
}
